<h1>User Options</h1>
<h3>User '<%= @user.username %>' (Users.ID = <%= @user.id %>)</h3>

<div class="boxout-row">
  <div class="boxout">
    <p><strong>Confirmed: </strong><%= @user.is_confirmed ? 'Yes' : "No (token #{@user.confirmation_token.truncate(13)})" %></p>
    <%= form_for @user, url: { :action => :admin_edit } do |f| %>
      <%= f.select :is_confirmed, options_for_select([['Yes', true], ['No', false]]) %>
      <%= f.submit 'Update' %>
    <% end %>
  </div>
  <div class="boxout">
    <p><strong>Admin: </strong><%= @user.is_admin ? 'Yes' : 'No' %></p>
    <%= form_for @user, url: { :action => :admin_edit } do |f| %>
      <%= f.select :is_admin, options_for_select([['Yes', true], ['No', false]]) %>
      <%= f.submit 'Update' %>
    <% end %>
  </div>
</div>
<div class="boxout-row"></div>
