<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th class="expanded-view">Email</th>
      <th class="expanded-view">Admin</th>
      <th class="expanded-view">Confirmed</th>
      <th class="expanded-view">Created</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td class="expanded-view"><%= user.email %></td>
        <td class="expanded-view"><%= user.is_admin %></td>
        <td class="expanded-view"><%= user.is_confirmed %></td>
        <td class="expanded-view"><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
