<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th class="expanded-view">Title</th>
      <th class="expanded-view">City</th>
      <th class="expanded-view">Phone</th>
      <th class="expanded-view">Email</th>
      <th></th>
      <th class="expanded-view"></th>
      <th class="expanded-view"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first.truncate(15) %></td>
        <td><%= contact.last.truncate(15) %></td>
        <td class="expanded-view"><%= contact.title.truncate(15) %></td>
        <td class="expanded-view"><%= contact.city.truncate(15) %></td>
        <td class="expanded-view"><%= contact.phone.truncate(15) %></td>
        <td class="expanded-view"><%= contact.email.truncate(15) %></td>
        <td><%= link_to 'Show', contact %></td>
        <td class="expanded-view"><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td class="expanded-view"><%= link_to 'Delete', contact, :method => :delete, data: { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %> |
<a href="/exports/json">Export all as JSON</a> |
<a href="/exports/xml">Export all as XML</a>
