<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>First</th>
      <th>Last</th>
      <th>Title</th>
      <th>City</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.id %></td>
        <td><%= contact.username %></td>
        <td><%= contact.first.truncate(15) %></td>
        <td><%= contact.last.truncate(15) %></td>
        <td><%= contact.title.truncate(15) %></td>
        <td><%= contact.city.truncate(15) %></td>
        <td><%= contact.phone.truncate(15) %></td>
        <td><%= contact.email.truncate(15) %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Delete', contact, :method => :delete, data: { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
