<!DOCTYPE html>
<html>
<head>
  <title>Contactbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if not flash.nil? %>
  <div class="notice-<%= flash[:color] %>">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
