<!DOCTYPE html>
<html>
<head>
  <title>Contactbook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="topbar">
    <% if not @current_user.nil? %>
      Logged in as <%= @current_user.username %> —
      <a href="/logout">log out</a> —
      <a href="/dashboard">dashboard</a> —
      <a href="/contacts">contacts</a> —
      <a href="/help">help</a>
      <% if @current_user.is_admin %>
        — <a href="/admin">admin</a>
      <% end %>
    <% else %>
      <a href="/login">log in</a> —
      <a href="/sign-up">sign up</a> —
      <a href="/help">help</a>
    <% end %>
  </div>
  <div class="content">
    <% if not flash.nil? %>
      <span class="notice-<%= flash[:color] %>">
        <%= flash[:notice] %>
      </span>
    <% end %>
    <% if flash[:admin_notice] == true %>
      <p class="admin-view">You are viewing this page as an administrator. Standard users cannot see this content
      unless they own it.</p>
    <% end %>

    <%= yield %>
  </div>
</div>
</body>
</html>
